.top-actions {
    display: flex;
    justify-content: space-between;
}
.top-actions > * {
    margin: 20px;
}

.flex-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-container > * {
    margin-right: 10px;
}

.table-container {
    padding: 0px 50px;
}

.bed-amount-container {
    margin: 5px;
}

.bed-add-edit {
    width: 90%;
    float: right;
}
.table-list-beds {
    width: 92%;
    transform: translate(28px, 0px);
}
.title-name-bed {
    margin-left: 30px;
}
.input-name-bed {
    width: 93%;
}
